* {margin: 0%; padding: 0%;}

header {color: floralwhite;background-color: rgb(46, 140, 216); height: 85px;}
nav {color: whitesmoke; text-align: right;font-size: 15px;}
h1 {font-size: 30px;}
.div4 {background-color: tomato; width: 100%; height: 70px;
}
section {background-color: white; height: 170px;padding: 25px;}
.sec1 {}
footer {color: black; font-size: 20px;text-align: center; padding: 15px;}
